*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.userCard {
  display: flex;
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 15px;
}

.userCard ul {
  padding-left: 20px;
}

.userCard ul li  {
  list-style-type: none;
}


.greetigs-card h1 {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}

.random-card h1 {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}

.app-wrapper {
  margin:5% 20%;
}

.app-wrapper h2 {
  margin-bottom: 25px;
}

.app-wrapper h2 span {
  color:red;
}


.boxColor {
  width: 100%;
  min-height: 150px;
  margin: 20px 0px;
}

.boxColor{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  border: 1px solid black;
}

.boxColor span {
  font-size: 30px;
}