*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.userCard {
  display: flex;
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 15px;
}

.userCard ul {
  padding-left: 20px;
}

.userCard ul li  {
  list-style-type: none;
}


.greetigs-card h1 {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}

.random-card h1 {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}

.app-wrapper {
  margin:5% 20%;
}